*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.expense{
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 2rem auto;
  width: 50rem;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.expense-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #4b4b4b;
}

.expense-item__description{
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

.expense-item h2{
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.expense-item__price{
  font-size: 1rem;
  color: white;
  background-color: #510674;
  border-radius: 12px;
  padding: 1rem;
  font-weight: bolder;
  border: 2px solid white;
}



.card{
  border-radius: 12px;
  box-shadow: 0 1px 8px (0,0,0,0.25);
}

.expense-date{
  border-radius: 12px;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  text-align: center;
}

.expense-date__month{
  font-size: 1.3rem;
  font-weight: bolder;
  margin-bottom: .3rem;
}
.expense-date__year{
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: .1rem;
}
.expense-date__{
  font-size: .8rem;
  font-weight: bolder;
}

/* NewExpense */

.new-expense{
  padding: 1rem;
  background-color: #a892ee;
  margin: 2rem auto;
  width: 50rem;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
  


.new-expense button{
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  font-weight: bolder;
}
.new-expense label{
  display: inline-block;
  font-size: 1rem;
  font-weight: bolder;
  align-self: baseline;
}

.new-expense__control{
  display: flex;
  flex-flow: column;
  margin-bottom: .5rem;
}
.new-expense__controls{
  margin-bottom: 1rem;
}

.new-expense input,
.new-expense input:active
{
  font: inherit;
  padding: .5rem;
  border: none;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  outline: none;
  width: 100%;
}

.new-expense__actions{
text-align: end;
}

.new-expense button:hover,
.new-expense button:active{
  background-color: #510674;
  border-color: #510674
}

.new-expense button.alternative{
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active{
  background-color: #ddb3f8;
}

.chart{
  padding: 1rem;
  border-radius: 12px;
  background-color: #f8dfff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}

.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 100%;
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: #c3b4f3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__fill {
  background-color: #4826b9;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
}